.tituloFormacion {
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    margin-top: 45px;
    background-color: #1f025f;
    color: rgb(235, 252, 4);
}
.parrafoFormacion {
    margin-top: 5px;
    font-size: 20px;
}
.logoUniversidad {
    height: 250px;
    width: 220px;
}
.seccionFormacion {
    background-color: #1f025f;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    padding-top: 30px;
    color: rgb(235, 252, 4);
}

@media screen and (max-width:480px) {
    .seccionFormacion {
        display: block;
        width: 780px;
    }
    .tituloFormacion {
        width: 810px;
        font-size: 48px;
    }
    .parrafoFormacion {
        font-size: 30px;
    }
    .conteinerFormacion {
        margin-top: 35px;
    }
}

@media (min-width: 768px) and (max-width: 990px) {
    .seccionFormacion {
        width: 850px;
    }
    .conteinerFormacion {
        margin-left: 10px;
    }
    .tituloFormacion {
        width: 890px;
    }
}