.containerPrincipal {
    background-color: #EDEDED;
}
.encabezado .containerEncabezado {
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EDEDED;
    position: relative;
    margin-top: 30px;
    margin-left: 80px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
}
.encabezado-nav {
    display: flex;
}
.conteinerLogo {
    display: flex;
    align-items: center;
}
.nombre {
    font-size: 18px;
}
.items-nav {
    padding: 10px;
    margin-bottom: 10px;
    color:#000000;
    background-color: #EDEDED;
    font-size: 22px;
    text-decoration: none;
}

@media screen and (max-width:480px) {
    .containerPrincipal, .encabezado, .containerEncabezado {
        flex-direction:column;
        align-items: initial;
        text-align: center;
    }
    .encabezado-nav {
        display:flex;
        justify-content:space-between;
    }
    .encabezado {
        margin-left:295px;
        width:auto;
    }
    .items-nav {
        padding:0px;
        font-size: 45px;
        margin-left: 30px;
    }
}
@media (min-width:760px) and (max-width:990px) {
    .items-nav {
        padding: 0px;
        margin-left: 12px;
    }
}
